<footer class="footer">
  <div class="container">
    {{ site.data.general.footer }}
  </div>
</footer>


<!-- Call to Action  -->
<section class="footercta bg-primary">
  <div class="footercta container bg-white border border-primary ">

    {% assign number = site.data.general.number %}
    {% if number %}
        <p class="text lead">{{ number.text }}
          {{ number.greeting }}
          <a class="number" href="{{ number.link }}">{{ number.link }}</a>
        </p>
    {% endif %}

  </div>
</section>

<!-- Form Html -->
<section class="form container">
  <div class="col-lg-12 form mx-auto">

    {% assign form = site.data.form %}
    {% if form.html %}
      <div>
        {{ form.html }}
      </div>
    {% endif %}

  </div>
</section>

<!-- Footer  -->
<footer class="container-fluid py-5 bg-tertiary">
  <section class="container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="img-responsive d-inline-block align-top" height="50px"
        src="{{ site.data.general.logo | relative_url }}" alt="">
        <small class="d-block mb-3 text-muted">© 2020</small>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Contact Us</a></li>
        </ul>
      </div>
  </section>
</footer>