// Variables

$container-width: 1200px;
$container-padding: 30px;

$primary-color: #C8385A;
$text-color: #333;
$link-color: #7F7F7F;

$font-xl: 58px;
$font-md: 22px;
$font-sm: 18px;
$font-xs: 16px;

$system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$primary-font-family: $system-font-family;



// Mixin

@mixin container($padding) {
  max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}


// Global

body {
  font-family: $primary-font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $font-sm;

  &:hover {
    color: $primary-color;
  }
}


// Shared

.button {
  display: inline-block;
  border: 1px solid lighten($link-color, 40%);
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: 300;

  &:hover {
    background-color: lighten($link-color, 49%);
  }
}

.accent {
  color: $primary-color;
}


// Components & pages

.navigation {

  @include container($container-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;

  padding-bottom: 10px;
  border-bottom: 1px solid lighten($link-color, 40%);

  &__branding {
      display: flex;
      align-items: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 500;
  }

  &__logo {
    margin-right: 10px;
  }

  &__logo-img {
    height: 40px;
    width: 40px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;

    &--active {
      color: $primary-color;
    }
  }

}

.home {

  @include container($container-padding);

  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__headline-container {
    padding: 0 $container-padding * 3;
  }

  &__headline {
    font-size: $font-xl;
  }

}


.page {

  @include container($container-padding);
  margin-top: 60px;

  &__header {
    padding: 0 $container-padding;
  }


  &__content {
    padding: 0 $container-padding;
  }
}

.blog {
  @include container($container-padding);
  margin-top: 60px;


  &__post {

    padding: 0 $container-padding;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($link-color, 40%);

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    padding-top: 15px;
    width: 30%;
    color: $link-color;
  }

  &__content {
    width: 100%;
  }


  &__link {
    &:hover {
      color: $link-color;
    }
  }

  &__title {
    color: $text-color;
    font-size: $font-md;
    padding-top: 0;
  }

  &__excerpt {
    color: $link-color;
  }
}


.post {

  @include container($container-padding);
  margin-top: 80px;


  &__container {
    padding: 0 $container-padding;
  }

  &__meta {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lighten($link-color, 40%);
  }

}


.footer {
  border-top: 1px solid lighten($link-color, 40%);
  padding: 30px 0;
  margin-top: 80px;

  &__container {
    @include container($container-padding);
    color: $link-color;
  }

}


// MW Sections 

// Site Header 
.site-header  {
  color: theme-color("grey-200");
    a {
      color: theme-color("grey-200");
      text-transform: uppercase;
      font-weight: 700;
    }
}

// Hero Section
.hero {
  @extend .text-white;

  .jumbotron {
    @extend .m-0;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/assets/images/header-image.png);
    min-height: 250px;
  }
  article {
    @extend .p-5, .pl-5;
  } 
}

// What you see if what you get
.wysiwyg {
  position: relative;
  
  &::before {  
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%22400px%22%20height%3D%2252px%22%20viewBox%3D%220%200%20400%2052%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2059.1%20%2886144%29%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3EPath%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Landing-Page%22%20transform%3D%22translate%28-1200.000000%2C%20-571.000000%29%22%20fill%3D%22%2301254B%22%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Blue-Wave-TOP%22%20transform%3D%22translate%280.000000%2C%20571.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1350%2C23.2%20C1321.8%2C23.2%201300%2C12%201300%2C12%20C1300%2C12%201278.2%2C0.8%201250%2C0.8%20C1221.8%2C0.8%201200%2C12%201200%2C12%20L1200%2C52%20L1600%2C52%20L1600%2C12%20C1600%2C12%201578.2%2C23.2%201550%2C23.2%20C1521.8%2C23.2%201500%2C12%201500%2C12%20C1500%2C12%201478.2%2C0.8%201450%2C0.8%20C1421.8%2C0.8%201400%2C12%201400%2C12%20C1400%2C12%201378.2%2C23.2%201350%2C23.2%20Z%22%20id%3D%22Path%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  content: '';
  background-repeat: repeat-x;
  position: relative;
  display: block;
  top: -22px;
  height: 30px;
  }
}

// Call to Actions
.cta {
  @extend .py-1, .bg-primary, .mb-2;

  &::after {  
    background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%22400px%22%20height%3D%2252px%22%20viewBox%3D%220%200%20400%2052%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2059.1%20%2886144%29%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3EPath%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Landing-Page%22%20transform%3D%22translate%280.000000%2C%20-1323.000000%29%22%20fill%3D%22%2301254B%22%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Blue-Wave-BOTTOM%22%20transform%3D%22translate%281000.000000%2C%201349.000000%29%20scale%281%2C%20-1%29%20translate%28-1000.000000%2C%20-1349.000000%29%20translate%280.000000%2C%201323.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M150%2C23.2%20C121.8%2C23.2%20100%2C12%20100%2C12%20C100%2C12%2078.2%2C0.8%2050%2C0.8%20C21.8%2C0.8%200%2C12%200%2C12%20L0%2C52%20L400%2C52%20L400%2C12%20C400%2C12%20378.2%2C23.2%20350%2C23.2%20C321.8%2C23.2%20300%2C12%20300%2C12%20C300%2C12%20278.2%2C0.8%20250%2C0.8%20C221.8%2C0.8%20200%2C12%20200%2C12%20C200%2C12%20178.2%2C23.2%20150%2C23.2%20Z%22%20id%3D%22Path%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    content: '';
    background-repeat: repeat-x;
    position: relative;
    display: block;
    bottom: -40px;
    height: 60px;
  }

  .card-cta {
    @extend .h-100, .border-0, .bg-transparent;

    img{
      @extend .mx-auto;

      height: 84px;
      width: 84px;
    }

    .card-body {
      @extend .text-center, .bg-primary;
  
      .card-title {
        text-transform: uppercase;
        color: theme-color("primary");
        font-family: $font-family-base;
      }
      .card-text {
        color: theme-color("grey-200");
        font-weight: 400;
        line-height: 1.8rem;
      }
    }
  }
}

// Media Text 
.mediatext {
  @extend .py-5;

  .btn {
    @extend .my-5;
  }
}

// Footer Section
footer {  
  @extend .py-3;

  color: theme-color("grey-200");
}
