// Call to Actions
.cta {
  @extend .py-1, .bg-primary, .mb-2;

  .card-cta {
    @extend .h-100, .border-0, .bg-transparent;

    img{
      @extend .mx-auto;

      height: 84px;
      width: 84px;
    }

    .card-body {
      @extend .text-center, .bg-primary;
  
      .card-title {
        text-transform: uppercase;
        color: theme-color("primary");
        font-family: $font-family-base;
      }
      .card-text {
        color: theme-color("grey-200");
        font-weight: 400;
        line-height: 1.8rem;
      }
    }
  }
}
